.git
.gitignore
/.idea
/.vscode
/.hooks
/assets
.DS_Store
.dockerignore
.env
.env.example
.env.prod
bundle-api.ts
bundle-dev.ts
docker-compose.yml
Dockerfile
LICENSE
README.md
/public/main.min.css
/public/script.min.js.map
/public/script.min.js
/src/main.js
