/*VARIABLES*/
:root {
    --white: #fff;
    --black: #000;
    --grey: #808080;
    --light-grey: #f5f5f5;
    --light-green: #8db48e;
    --green: #4d724d;
    --red: #c13737;
}

/*COMMON*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    min-height: 100vh;
    overflow: auto;
    padding: 1rem 0;
    background-color: var(--light-grey);
}

h1, h2 {
    -webkit-user-select: none;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*LOCATIONS*/
#locations {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.location {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    user-drag: none;
    -webkit-user-drag: none;
}

/*UPLOAD*/
input[type='file'] {
    display: none;
}

#file-upload-label {
    background-color: var(--green);
    color: var(--white);
    border-radius: 5px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.7rem;
}

#file-upload-label:hover {
    background-color: var(--light-green);
}

.upload-label-drag {
    background-color: var(--light-green);
}

.drag-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 9;
}

/*SHARED TEXT*/
.header-action-container {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.header-action {
    padding: 0 0.3rem;
    font-size: 1.4rem;
    cursor: default;
}

.header-action:hover {
    background-color: var(--light-green);
    border-radius: 5px;
}

#share-text {
    padding: 4px;
    outline: none;
    min-width: 340px;
}

/*FILES*/
#files {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.file {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    max-width: 90vw;
    padding: 5px 10px;
    background-color: var(--light-green);
    border-radius: 5px;
}

.file-btn {
    color: var(--white);
    font-size: 1.2rem;
}

.file-link {
    text-decoration: none;
    color: var(--white);
    font-size: 1.2rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/*BUTTONS*/
.buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn {
    border: var(--white) 1px solid;
    border-radius: 5px;
    text-align: center;
    padding: 0 8px;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.btn:hover {
    background-color: var(--white);
    color: var(--light-green);
}

.delete {
    background-color: var(--red);
}

.delete:hover {
    color: var(--red);
}

/*DIALOG*/
dialog:modal {
    margin: auto;
    max-width: 80%;
    color: var(--black);
    background-color: var(--white);
}

dialog::backdrop {
    background-color: hsla(0, 0%, 0%, 0.5);
}

.modal-container {
    gap: 20px;
    padding: 16px;
}

/*SNACKBAR*/
.snackbar-container {
    position: fixed;
    bottom: 5%;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--green);
    color: var(--white);
    padding: 4px;
    border-radius: 4px;
    overflow: hidden;
    animation: 300ms ease-out forwards slide-up;
    z-index: 10;
    -webkit-user-select: none;
    user-select: none;
}

.snackbar-label {
    padding: 12px 8px;
}

.snackbar-dismiss {
    color: var(--red);
    font-weight: bold;
    margin: 0 8px;
    padding: 8px;
}

/*UPLOAD MODAL*/
.input-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 100%;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.upload-input {
    width: 100%;
    min-width: 250px;
    padding: 6px 3px;
    border: 1px solid var(--grey);
    border-radius: 4px;
}

.upload-input:disabled {
    background-color: var(--light-green);
    color: var(--green);
    cursor: not-allowed;
}

.file-upload-delete-btn {
    color: var(--white);
    padding: 3px 8px;
    font-size: 1.2rem;
}

.input-error {
    border-color: var(--red) !important;
}

.error-message {
    color: red;
    font-size: 0.7em;
}

.active {
    color: var(--green);
    text-decoration: underline;
}

footer {
    margin-top: 2rem;
}

#language {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.language-btn {
    cursor: pointer;
}