/*VARIABLES*/
:root {
  --white: #fff;
  --black: #000;
  --light-grey: #f5f5f5;
  --light-green: #8db48e;
  --green: #4d724d;
  --red: #c13737;
}
/*COMMON*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  min-height: 100vh;
  overflow: auto;
  padding: 1rem 0;
  background-color: var(--light-grey);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/*LOCATIONS*/
#locations {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.location {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*UPLOAD*/
input[type='file'] {
  display: none;
}
input[type='text'] {
  width: 100%;
}
.file-upload-label {
  background-color: var(--green);
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 2rem;
}
#copy-text {
  margin-left: 1rem;
  font-size: 1.4rem;
  cursor: pointer;
}
textarea {
  outline: none;
  min-width: 340px;
}
/*FILES*/
#files {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  max-width: 90vw;
  padding: 5px 10px;
  background-color: var(--light-green);
  border-radius: 5px;
}
a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}
.file-link {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn {
  border: #fff 1px solid;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  padding: 0 8px;
}
.btn:hover {
  background-color: #fff;
  color: var(--light-green);
}
.delete {
  background-color: #c13737;
}
.delete:hover {
  color: #c13737;
}
/*DIALOG*/
dialog:modal {
  margin: auto;
  max-width: 80%;
  color: var(--black);
  background-color: var(--white);
}
dialog::backdrop {
  background-color: hsla(0, 0%, 0%, 0.5);
}
.modal-container {
  gap: 20px;
  padding: 16px;
}
/*SNACKBAR*/
.snackbar-container {
  position: fixed;
  bottom: 5%;
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--green);
  color: var(--white);
  padding: 4px;
  border-radius: 4px;
  overflow: hidden;
  animation: 300ms ease-out forwards slide-up;
  z-index: 10;
}
.snackbar-label {
  padding: 12px 8px;
}
.snackbar-dismiss {
  color: var(--red);
  font-weight: bold;
  margin: 0 8px;
  cursor: pointer;
  padding: 8px;
}